.login-page {
  height: 100vh;
  background-color: #89c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}
.logo {
  position: absolute;
  top: 3px;
  left: 3px;
}
.card {
  background-color: white;
  width: 80%;
  height: 80%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  @media (max-width: 650px) {
    margin-top: 30px;
  }
}
.card__image {
  width: 50%;
  min-width: 50%;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 650px) {
    display: none;
  }
}
.card__form {
  background-color: white;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 0;
    padding: 40px 0 20px 0;
  }
  p {
    margin: 0;
    font-family: roboto;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-family: roboto, arial;

    > div {
      font-family: roboto, arial;
      width: 80%;
      margin-bottom: 20px;
    }
    .btn {
      font-family: roboto, arial;
      padding: 15px 50px;
      border: none;
      border-radius: 30px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      background-color: #89c9c9;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        filter: opacity(0.9);
      }
    }

    .signup {
      align-self: flex-end;
      padding: 10px 20px 10px 0;
      font-size: 18px;
      color: #e47748;
      cursor: pointer;
      transition: all 0.1s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media (max-width: 650px) {
    width: 100%;
    form {
      button {
        margin-top: 30px;
      }
      .signup {
        align-self: center;
        padding: 10px;
      }
    }
  }
}
.login-error {
  color: #d13845;
  padding-top: 20px;
}
